# Backend API URL (Spring Boot en VPS)
VITE_API_BASE_URL=http://localhost:8080/api/v1

# Cognito — Stack: parking-app-dev-cognito
VITE_COGNITO_USER_POOL_ID=us-east-1_5Hq8VEHuN
VITE_COGNITO_WEB_CLIENT_ID=5hhp0t1m5jd5hd77t6iao59bnl
VITE_COGNITO_DOMAIN=dev-parking-app.auth.us-east-1.amazoncognito.com
VITE_COGNITO_REDIRECT_SIGN_IN=http://localhost:3000/callback
VITE_COGNITO_REDIRECT_SIGN_OUT=http://localhost:3000
